body{
    background-color: #dcd9d9;
}
header{
    margin: 0;
    background-color: #A09595;
}

.title{
    width: 90%;
    height: 20vh;
    font-size: 5vh;

    display : flex;
    justify-content: space-between;
    align-items : center;

    list-style: none;
}

.input{
    margin-top: 5%;
    width: 100%;
    text-align : center;
    
}

.input>li{
    list-style: none;
    
}

.input_box{
    font-size: 5vh;
    
}

.content{
    display: flex;
    margin: auto;
    justify-content: center;

    margin-top: 5%;
}
.todo{
    background-color: #A09595;
    width: 20%;
    align-items: center;

    border-radius: 10%;
}

.todo>h2{
    text-align: center;
}

.box{
    display: flex;
    
    width: 90%;
    margin: 5% 5% 5% 5%;
    justify-content: space-between;
    background-color: white;
    align-items: center;
    list-style: none;

    
}

.box>button{
    height: 50%;
}

.running{
    background-color: #A09595;
    margin-left: 10%;
    margin-right: 10%;
    width: 20%;

    border-radius: 10%;
}

.running>h2{
    text-align: center;
}

.done{
    background-color: #A09595;
    width: 20%;

    border-radius: 10%;
}

.done>h2{
    text-align: center;
}