body{
    color: aliceblue;
    background-color: #dcd9d9;
    font-family: 'Jua', sans-serif;
    background-image: url("https://www.toptal.com/designers/subtlepatterns/uploads/pool_table.png");

}
header{
    margin: 0;
/*     background-color: #A09595;
 */    font-family: 'Jua', sans-serif;

    margin-top: 5%;


}

.title{
    width: 90vw;
    height: 20vh;
    font-size: 2.5vw;

    display : flex;
    justify-content: space-between;
    align-items : center;

    list-style: none;
    margin: 0;
    margin-right: 5vw;
}

.header_title{
    display: flex;
    align-items: center;
    
}

.input_bt{
    width:10vw;
}

.mas{
    font-size: 7.3vw;
}


.header_input{
    padding:10px ;
    display: flex;
    align-items: center;
    margin-top: 1%;

    width:30vw;
    text-align : center;

    border: 5px solid rgb(255, 255, 255,0.4);
    border-radius: 30px;
    
}

.btn_logout{
    font-size: 2vw;
    margin-left: 50%;
}

.input_box{
    font-size: 2vw;
    border: none;
    background-image: url("https://www.toptal.com/designers/subtlepatterns/uploads/pool_table.png");
    width:20vw;
    color: white;
    
}
.input_name{
    width: 5vw;
    font-size: 2vw;
}

.content{
    display: flex;
    margin: auto;
    justify-content: center;

    margin-top: 5%;
}
.todo{
    display: flex;
    flex-direction: column;

    width: 25vw;

    align-items: center;

    border: 5px solid rgb(255, 255, 255,0.4);
    border-radius: 30px;
    
    padding: 2%;

/*     margin-left: 5%; */
}

.todo>h2{
    text-align: center;
    font-size: 3.5vw;
    margin: 0;
}

.box{
    display: flex;
    
    width: 95%;
    margin: 5% 5% 5% 5%;
    justify-content: space-between;
    background-color: white;
    align-items: center;
    list-style: none;

    background-image: url("https://www.toptal.com/designers/subtlepatterns/uploads/pool_table.png");

    border: 3px solid rgb(255, 255, 255,0.4);
    border-radius: 10px;

    padding: 2%;
    
}
.box>li{
    color: white;
}

.box>button{
    height: 50%;
}

.detail{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 70%;
    word-break:break-all;
    font-size: 1.8vw;
}


.running{
    display: flex;
    flex-direction: column;

    width: 25vw;

    align-items: center;

    border: 5px solid rgb(255, 255, 255,0.4);
    border-radius: 30px;
    
    padding: 2%;

/*     margin-right: 5%;
    margin-left: 5%; */
}

.running>h2{
    text-align: center;
    font-size: 3.5vw;
    margin: 0;
}

.done{
    display: flex;
    flex-direction: column;

    width: 25vw;

    align-items: center;

    border: 5px solid rgb(255, 255, 255,0.4);
    border-radius: 30px;
    
    padding: 2%;
/* 
    margin-right: 5%; */
}

.done>h2{
    text-align: center;
    font-size: 3.5vw;
    margin: 0;
}

.material-symbols-outlined {
    color: rgb(255, 255, 255,0.4);;
background-color:transparent;
border: none;
  font-variation-settings:
  'FILL' 0,
  'wght' 700,
  'GRAD' 0,
  'opsz' 48
  

}

.na2{
    color: #fafac9
}
